body{
    background-color: #747474;
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    padding: 50px;
 }
header{
    background-color: greenyellow;
}
main{
    background-color: aliceblue;
}
footer{
    background-color: aquamarine;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: inherit;
}
a:hover{
    color:rgb(253, 253, 253);
    transition: 0.2s ease-in;
}
.botao1:hover, .botao2:hover{
    background-color: rgb(16, 212, 104);
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }











  @media (max-width: 1920px){
    .container {
        padding: 50px;
    }
  }
  
  @media (max-width: 992px){
    .container {
      width: 960px;
      max-width: 100%;
    }
  }