body{
    background-color: #747474;
}

header{
    background-color: greenyellow;
}
main{
    background-color: aliceblue;
}
footer{
    background-color: aquamarine;
}





/*Geral*/
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: inherit;
}
a:hover{
    color:rgb(253, 253, 253);
    transition: 0.2s ease-in;
}
.conteudo-logo-redes{
    width: 40px;
}
a:hover, .conteudo-logo-redes:hover, .footer-github:hover, .footer-linkedin:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s ease-in;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }