body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: aqua;
    position: fixed;
    justify-content: center;
    border-top: 1px solid #333;
    top: 0;
    left: 0px;
    height: 70px;
    width: 100%;
    align-items: center;
    box-shadow: black 0em 1em 2em;
    border-radius: 0 0 10px 10px;
}
header{
    animation-name: fundo;
    animation-duration: 1s;
    animation-iteration-count:inherit;
}
@keyframes fundo {
    0% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(0px);
    }
}
.nome-logo-header{
font-size: 50px; 
font-family:Georgia, 'Times New Roman', Times, serif;
}
.header-logo{
    margin-right: 350px;
}
.li-sobre{
    margin: 30px;
    font-size: 30px;
}
main{
    margin: 90px 0 85px 0;
    padding: 10px;
}
.criadores-1, .criadores-2{
    margin: 50px;
}
.conteudo-criadores{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-form-contato{
    text-align: center;
    margin: auto;
    width: 470px;
    border: solid 2px blue;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    padding: 15px;
}
.button-form-enviar{
    border-radius: 5px;
}
.button-form-enviar:hover{
    background-color: rgb(32, 151, 32);
}
.nome{
    font-size: 25px;
    text-align: center;
    color: rgb(68, 68, 68);
}
footer{
    position: fixed;
    border-top: 1px solid #333;
    padding: 10px;
    bottom: 0;
    left: 0;
    justify-content: center;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: aqua;
    box-shadow: black 0em -1em 2em;
    border-radius: 10px 10px 0 0;
}
footer{
    animation-name: fundo1;
    animation-duration: 1s;
    animation-iteration-count:inherit;
}
@keyframes fundo1 {
    0% {
        transform: translateY(120px);
    }
    100% {
        transform: translateY(0px);
    }
}
.nome-logo-footer{
    font-size: 30px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.footer-logo{

}
.footer-direitos{
    margin-left: 250px;
    margin-right: 200px;
}
.footer-rede{

}


/*Geral*/
.box-form{
    text-align: right;
    margin-bottom: 10px;
}
#nome, #email, #whatsapp, #assunto, #mensagem{
    text-align: center;
    border-radius: 4px;
    margin-left: 10px;
    width: 300px;
}
.conteudo-redes-geovane, .criadores-1, .criadores-2, .conteudo-redes-gabriel, .conteudo-redes-magno, .conteudo-redes-renato{
    text-align: center;
    margin: 40px;
}
li{
    margin: 5px;
    list-style: none;
}
header, ul, footer, .footer-rede{
    display: flex;
}
a{
    color: black;
    text-decoration: inherit;
}
.a-saiba-mais:hover{
    color: green;
    transition: 0.2s ease-in;
}
a:hover{
    color:rgb(253, 253, 253);
    transition: 0.2s ease-in;
}
.conteudo-logo-redes, .footer-github, .footer-linkedin{
    width: 40px;
}
a:hover, .conteudo-logo-redes:hover, .footer-github:hover, .footer-linkedin:hover, .button-form-enviar:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s ease-in;
}
.conteudo-imagem-geovane:hover, .conteudo-imagem-gabriel:hover, .conteudo-imagem-magno:hover, .conteudo-imagem-renato:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.2s ease-in;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
}
::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 3px;
} 
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

