body{
    background-color: #747474;
}

header{
    border-top: 1px solid #333;
    top: 0;
    left: 0px;
    height: 70px;
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: greenyellow;
}
main{
    padding: 10px;
    margin-top: 80px;
    background-color: aliceblue;
}
.conteudo-form-contato{
    text-align: center;
}
footer{
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: aquamarine;
}


/*Geral*/
.conteudo-form-contato{
    width: 370px;
    border: solid 2px blue;
    border-radius: 10px;
    padding: 15px;
}
.box-form{
    text-align: right;
    margin-bottom: 10px;
}
#nome, #email, #whatsapp, #assunto, #mensagem{
    border-radius: 4px;
}
.conteudo-redes-geovane, .conteudo-redes-gabriel, .conteudo-redes-magno, .conteudo-redes-renato{
    text-align: center;
}
li{
    list-style: none;
}
header, ul, footer, .conteudo-criadores, .footer-rede{
    display: flex;
}
a{
    color: black;
    text-decoration: inherit;
}
a:hover{
    color:rgb(253, 253, 253);
    transition: 0.2s ease-in;
}
.conteudo-logo-redes{
    width: 40px;
}
a:hover, .conteudo-logo-redes:hover, .footer-github:hover, .footer-linkedin:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.3s ease-in;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
  }