*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  p{
    text-align: justify;
    font-size: 1.15rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

  }

  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

  }
  
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  
  .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  
  @media (max-width: 576px) {
    .col {
      flex: 0 0 auto;
      width: 100%;
    }
    footer{
      position: fixed;
    }
    .conteudo-imagem-principal{
      position: absolute;
      margin-left: 15px;
      margin-top: -530px;
    }
    .img-principal{
      width: 350px;
    }
    main{
      font-size: 1rem;
      margin: 19% 0 28% 0;
    }
    figcaption{
      font-size: 10px;
    }
    .a-saiba-mais{
      width: 50%; 
      top: 20px; 
      left: 90px;
  }
  .div-conteudo{
    font-size: 1rem;
    display: block; 
    margin-top: 20px;
}
.conteudo-texto{
  width: 375px;
  font-size: 0.8rem;
}
h1{
  width: 400px;
  text-align: center;
  margin-bottom: 280px;
}
  iframe{
    width: 385px; 
    height: 200px; 
    position: relative;
    top: 10px;
    left: 0px;
    display: block;
    border: solid 1px aqua;
    border-radius: 5px;
}
.li-sobre{
  position: relative;
  top: -35px;
  left: -15px;
}
.ul-sobre{
    flex-direction: column;
    display: none;
    background-color: aqua;
    width: 250px;
    height: 170px;
    margin-top: 210px;
    margin-left: -15px;
    border-radius: 0 0 20px 0;
}
.header-text-nav{
  position: relative;
  margin-left: -320px;
  margin-right: 260px;
}
.header-text-nav:hover .ul-sobre{
  display: block;
}
.fechar:hover .ul-sobre{
  display: none;
}
.header-cel{
  display: block;
}
.header-logo{
  margin: 0;
}
.fechar{
  display: block;
  width: 55px;
  font-size: 13px;
  position: relative;
  top: -40px;
  left: 15px;
}
footer{
  font-size: 0.8rem;
}
.footer-logo{
  width: 60px;
}
.nome-logo-footer{
  position: relative;
  font-size: 12px;
  text-decoration: underline 5px white;
  left: -10px;
}
.footer-direitos{
  margin: 0;
  font-size: 10px;
  text-align: center;
}
.contato{
  display: none;
}
.footer-linkedin{
  position: relative;
  width: 20px;
  right: -10px;
}
  }
  
  @media (max-width: 768px) {
    .col {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    
    .col-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .col-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-xl-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-xl-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1400px) {
    .col-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    .col-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  }











