*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  /* Cores Base*/
  --base-color: rgb(30, 0, 139);
  --base-color-second: #666;
  --base-border-button: rgb(32, 151, 32);
  --base-black: black;
  --base-white: white;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.sub_top{
  position: block;
  width: 100%;
  align-items: center;
}
.sub_top {
  animation-name: sub_top;
  animation-duration: 1s;
  animation-iteration-count: inherit;
}
@keyframes sub_top {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ul-sobre1{
  width: 20%;
  background-color: aquamarine;
}
.sub_top1{
  justify-content: center;
  text-align: center;
  background-color: blueviolet;
}
header {
  z-index: 1;
  background-color: var(--base-color);
  justify-content: center;
  border-bottom: 1px solid var(--base-color-second);
  top: 0;
  left: 0;
  height: 100px;
  align-items: center;
  box-shadow: var(--base-black) 0em 1em 2em;
  border-radius: 0 0 10px 10px;
}
header {
  animation-name: fundo;
  animation-duration: 1s;
  animation-iteration-count: inherit;
}
@keyframes fundo {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header-logo {
  margin-right: 10%;
  margin-left: -30%;
}
.li-sobre {
  width: 100%;
  margin: 0 0 0 15%;
  font-size: 150%;
}
main {
  padding: 3%;
}
h1 {
  text-align: center;
  width: 100%;
}
.div-conteudo {
  display: inline-flex;
  margin-top: 10px;
}
.conteudo-imagem-principal {
  margin-left: 200px;
  margin-top: 50px;
  text-align: right;
}
.conteudo-texto1 {
  width: 80%;
  margin-inline: auto;
}
.maintema {
  margin-bottom: 100px;
}
.conteudo-texto1 h2 {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 50px;
}
.conteudo-texto1 h1,
h3 {
  text-decoration: underline 2px aqua;
}
.conteudo-texto1 h1 {
  width: 100%;
  font-size: 1.5rem;
}
.conteudo-texto1 > img {
  margin-top: 10px;
}
.img-principal {
  width: 600px;
  justify-content: right;
}
input {
  padding: 5px;
}
footer {
  justify-content: center;
  height: 300px;
  background-color: var(--base-color);
  box-shadow: var(--base-black) 0em -1em 2em;
  border-radius: 10px 10px 0 0;
}
footer {
  animation-name: fundo1;
  animation-duration: 1s;
  animation-iteration-count: inherit;
}
@keyframes fundo1 {
  0% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer-direitos {
  margin: auto;
}
li {
  margin: 5px;
  list-style: none;
}
header,
ul,
footer,
.footer-rede {
  display: flex;
}
a {
  color: var(--base-black);
  text-decoration: inherit;
}
@keyframes edu {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
.bord {
  width: 200px;
  border: solid 3px var(--base-border-button);
  border-radius: 10px;
  background-color: var(--base-color);
  animation-name: edu2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes edu2 {
  0% {
    border-color: var(--base-color);
  }
  50% {
    border-color: var(--base-black);
  }
  100% {
    border-color: var(--base-color);
  }
}
a:hover {
  color: var(--base-white);
  transition: 0.2s ease-in;
}
.conteudo-logo-redes,
.footer-github,
.footer-linkedin {
  width: 40px;
}
a:hover,
.conteudo-logo-redes:hover,
.footer-github:hover,
.footer-linkedin:hover,
.button-form-enviar:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.3s ease-in;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--base-white);
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  background-color: var(--base-color-second);
  -webkit-border-radius: 3px;
}
