* {
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: 300;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
img{
  max-width: 100%;
}
:root {
  /* Cores Base*/
  --base-color: rgb(30, 0, 139);
  --base-color-second: #666;
  --base-border-button: rgb(32, 151, 32);
  --base-black: black;
  --base-white: white;
}
.ul-sobre1 {
  display: flex;
  margin-inline: auto;
  justify-content: space-evenly;
  background-color: blueviolet;
}
.sub_top2{
  align-items: center;
  justify-content: space-around;
}
header {
  position: relative;
  z-index: 1;
  background-color: var(--base-color);
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  box-shadow: var(--base-black) 0em 1em 2em;
  border-radius: 0 0 10px 10px;
  animation-name: header;
  animation-duration: 1s;
  animation-iteration-count: inherit;
}
@keyframes header {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header-logo {
  margin: 0;
}
.svg_header {
  width: 40px;
  height: 44px;
  float: right;
  padding: 10px;
  border-radius: 14px;
  background-color: blueviolet;
  margin-right: 25px;
  margin-top: 10px;
}
nav.header-text-nav {
  display: none;
}
nav.header-text-nav.menu.open {
  display: inline-block;
}
li.li-sobre {
  padding: 5px;
  background: blueviolet;
  border: solid white 1px;
  border-radius: 20px;
  text-align: center;
  margin: 2px;
}
.li-sobre {
  width: 100%;
  margin: 0 0 0 15%;
  font-size: 20px;
}
.mainremoto, .mainddns{
  padding: 3%;
}
.maininicio{
  padding: 0%;
}
.imgddns{
  width: 50%;
  height: 40%;
}
h1 {
  text-align: center;
  width: 100%;
}
.div-conteudo {
  display: inline-flex;
  margin-top: 10px;
}
.conteudo-imagem-principal {
  margin-left: 200px;
  margin-top: 50px;
  text-align: right;
}
.conteudo-texto1 {
  width: 80%;
  margin-inline: auto;
}
.conteudo-texto1 h2 {
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 50px;
}
.conteudo-texto1 h1 {
  width: 100%;
  font-size: 1.5rem;
}
.conteudo-texto1 > img {
  margin-top: 10px;
}
.img-principal {
  width: 600px;
  justify-content: right;
}
input {
  padding: 5px;
}
footer, .footerinicio {
  position: relative;
  width: 100%;
  bottom: 0px;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* grid-gap: 10px; */
  background-color: var(--base-color);
  box-shadow: var(--base-black) 0em -1em 2em;
  border-radius: 10px 10px 0 0;
  text-align: -webkit-center;
}
footer {
  animation-name: fundo1;
  animation-duration: 1s;
  animation-iteration-count: inherit;
}
@keyframes fundo1 {
  0% {
    transform: translateY(120px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ul-footer{
  display: block;
}
.span_footer {
  /* display: flex; */
  /* column-gap: 10%; */
  /* align-items: center; */
  /* justify-content: space-around; */
}
.container{
  width: 100%;
}
._informations {
  display: grid;
  /* justify-content: space-between; */
  /* padding: 0 45px; */
}
li {
  margin: 5px;
  list-style: none;
}
.div_contatos {
  /* column-gap: 10%; */
  /* text-align: initial; */
  /* width: 678px; */
}
span._follow {
  text-align: center;
}
.button_footer {
  width: 159px;
  margin: auto;
  justify-content: center;
  border-radius: 15px;
  height: max-content;
  margin-top: 5px;
  padding: 5px 20px;
  line-height: 14px;
  background-color: blueviolet;
}
a {
  color: var(--base-black) !important;
  text-decoration: inherit;
}
@keyframes edu {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
.bord {
  width: 200px;
  border: solid 3px var(--base-border-button);
  border-radius: 10px;
  background-color: var(--base-color);
  animation-name: edu2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes edu2 {
  0% {
    border-color: var(--base-color);
  }
  50% {
    border-color: var(--base-black);
  }
  100% {
    border-color: var(--base-color);
  }
}
a:hover {
  color: var(--base-white);
  transition: 0.2s ease-in;
}
.conteudo-logo-redes,
.footer-github,
.footer-linkedin {
  width: 40px;
}
a:hover,
.conteudo-logo-redes:hover,
.footer-github:hover,
.footer-linkedin:hover,
.button-form-enviar:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.3s ease-in;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--base-white);
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
}
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  background-color: var(--base-color-second);
  -webkit-border-radius: 3px;
}

@import url(//fonts.googleapis.com/css?family=cairo:100);
body {
  margin:0;
}
h1 {
  font-family: 'cairo', serif;
  font-weight:800;
  font-size:80px;
  margin-bottom:0;
      text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
h2 {
  font-family: 'cairo', sans-serif;
  font-weight:100;
  font-size:30px;
  margin-top:0;
}
p {
  font-family: 'cairo', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}
.header1 {
  position:relative;
  text-align:center;
  background: linear-gradient(130deg, blue 0%, blueviolet 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}
.inner-header {
  height:50vh;
  width:100%;
  margin: 0;
  padding: 0;
}
.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
@media screen and (min-width: 480px){
  .logo{
    width: 100%;
  }

}